[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL
	branch = SDL2
[submodule "deps/sodium"]
	path = deps/sodium
	url = https://github.com/m-obi/libsodium-cmake
[submodule "deps/roms"]
	path = deps/roms
	url = https://github.com/kripod/chip8-roms
